@import url(//db.onlinewebfonts.com/c/5a5c2865c8fa7a166d94d0880ca9eebc?family=Sharp+Grotesk+Medium+25);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, 'sharp-grotesk';
    font-size: 20px;
    line-height: 18px;
    color: rgb(52, 50, 50);
}

img {
    width: 100%;
}

.lg-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.m-container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.sm-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display:flex;
}

ul {
    list-style: none;
 }


h2 {
    font-size: 35px;
    line-height: 50px;
}

h3 {
    font-size: 20px;
    line-height: 28px;
}

/*HEADER*/

header {
    position: sticky;
    top: 0;

    background-color: white;
}

.flex.case {
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 30px 0;
}

.logo {
    width: 125px;
    display: block;
}

.flex.list {
    align-items: center;
}

.list-item {
    display: inline-block;
    margin-left: 40px;
}

.link {
    text-decoration: none;
    color: currentColor;
}


.link.login {
    margin-right: 20px;
} 

.btn {
    padding: 12px 14px;
    font-size: 17px;
    text-align: center;
    display: inline-block;
}


.btn.bg-blue {
    border: none;
    background-color: #0061FF;
    color: white;
}


/*MAIN*/

.jumbotron {
    background-color: #B4D0E7;
    min-height: 735px;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 90px;

    padding-top: 105px;
}

.box-bottom {
    margin-top: 77px;
}
.b-left-box {
    width: 360px;
    flex-direction: column;
}

.b-left-box > p {
    line-height: 20px;
}

.b-right-box {
    width: 790px;
}

.jumbo.btn {
    margin: 42px 0;
}

/*.z< vfa-arrow-down {
    margin-top: auto;

} si gestisce automaticamente, spinge la freccia in giù assegnandogli tutto lo spazio rimanente prima della fine*/


/*Section 1*/

   /*layout*/

.row-title-h2> h2 {
    padding-top: 100px;
}

.row-radio {
    align-items: flex-start;
    gap: 10px;

    padding-top: 85px;  
}

.flex.row-card {
    flex-wrap: wrap;
    gap: 50px;

    margin-top: 60px;
}

.col-30, .col-100 {
    border: 2px solid lightgray;
}

.col-30 {
    width: 300px;
    min-height: 950px;
}

.col-100 {
    width: 100%;
    min-height: 260px;
}


.flex.text{
    flex-direction: column;
    gap: 55px;
}

.text-1 {
    flex-direction: column;
    gap: 15px;
}


.text-4 {
    display: flex;
    justify-content: space-between;
}

    /*content*/

.radio {
    border-radius: 20px;;
    width: 20px;
    height: 20px;

}
.button-1 {
    border: 5px solid  #0061FF;
}

.button-2 {
    border: 2px solid lightgray;
}

.card-header {
    border-bottom: 2px solid lightgray;
    padding:10px 0;
    text-align: center;
}
.monthly {
    color: gray;
}

.text {
    padding: 35px;
}
.price {
    font-weight: bold;
}

i + p {
    margin-left: 5px;
}

.fa-check {
    color:#0061FF;
    font-weight: bold;
}

.padding-bottom {
    padding-bottom: 35px;
}

.enterprise-p {
    margin-top: 50px;
}

hr.w-20 {
    width:20%;
    border: 1px solid lightgrey;
}
/*Section 2*/

     /*layout*/

.ad {
    padding-top: 160px;
}
.col-60 {
    width: 500px;
}
.flex.col-40 {
    width: 500px;
    padding-left: 50px;

    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

      /*content*/

.bg-white {
    background-color: white;

    align-self:flex-start;
}

/*Section 3 */

    /*layout*/

.row-title-h2 {
    margin-top: 130px;
    margin-bottom: 45px;
}

.flex.row-card-options{
    flex-wrap: wrap;
    gap:15px;
}

.flex.col-card {
    flex-direction: column;

   /* width: calc((100%-30px)/3);*/
   flex-grow: 1;
   flex-basis:0;
   gap:25px;
}

   /*content*/

.col-card > img {
    width: 300px;
    padding-top: 20px;
}

/*Section 4*/

.square-buisness {
    margin-top: 210px;
}

.link-buisness {
    display: inline-block;
    margin-top: 55px;
    margin-bottom: 150px;
    
}

/*Section 5*/

  /*layout*/

.flex.outside-box {
    width: calc(100%/3);
}

.flex.img {
    justify-content: center;

    width: calc(100%/2);
    height: calc(100%/2);

}

.flex.img-middle {
    flex-direction: column;
    gap: 50px;
}

.img-middle {
    padding: 50px 50px 240px 50px;
}

.teams {
    width:50%;
    color: white;
}

.teams.streched
{
    align-self: center;
}

.flex.box-col-30 {
    flex-wrap: wrap;

    width: calc(100%/3)
}

  /*content*/

.teams-1 {
    background-color:rgba(162, 211, 155, 1) ;

    border: 15px solid rgba(209, 233, 205, 1);
}

.teams-2 {
    background-color: rgba(97, 8, 43, 1);
}
.teams-3{
    background-color: rgba(0, 147, 206, 1) ;
}
.teams-4 {
    background-color: rgba(255, 28, 28, 1);
}
.teams-5 {
    background-color: rgba(245, 245, 245, 1);
}
.teams-6 {
    background-color: rgba(213, 0, 31, 1);
}
.teams-7 {
    background-color: rgba(180, 208, 231, 1);
}
.teams-8 {
    background-color:rgba(13, 36, 129, 1);
}
.teams-9{
    background-color: rgba(255, 216, 48, 1) ;
}

/*section 5.1*/

.box-col-100 {
    justify-content: space-around;
    padding: 135px 460px;

    background-color: rgba(180, 208, 231, 1);
}

.box-h2 {
    color:rgba(97, 8, 43, 1);
}


.box.btn.bg-white {
    border: none;
}

/*section 6*/

.questions {
    margin: 235px 0;
    font-weight: 800;
}

.quest-title, .quest-line {
    border-bottom: 1px solid lightgrey;
    padding: 35px 0;
}

hr.w-100 {
    width:100%;
    border: 1px solid lightgrey;
}
/*FOOTER*/
    /*layout*/

footer > .lg-container {
    background-color: black;
    color: white;
    min-width: 1000px;
}

.flex.footer-row {
    justify-content: space-between;

    padding: 120px 0;
}

.item {
    padding-bottom: 15px;
}

.item.title {
    padding-bottom: 25px;
}

.footer-choose-lang {
    border-top: 1px solid lightgray;
    width: 10%;
    padding: 50px 0px;
}
