@import url(//db.onlinewebfonts.com/c/5a5c2865c8fa7a166d94d0880ca9eebc?family=Sharp+Grotesk+Medium+25);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, 'sharp-grotesk';
}

img {
    width: 100%;
}

.lg-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.m-container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.sm-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display:flex;
}

 .list {
    list-style: none;
 }

 .link {
    text-decoration: none;
    color: currentColor;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 20px;
}

/*HEADER*/

header {
    position: sticky;
    top: 0;

    background-color: white;
}

.flex.case {
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 30px 0;
}

.logo {
    width: 125px;
    display: block;
}

.flex.list {
    align-items: center;
}

.list-item {
    display: inline-block;
    margin-left: 40px;
}


.link.login {
    margin-right: 20px;
} 

.btn {
    border: none;
    padding: 12px 14px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
}


.btn.bg-blue {
    background-color: #0061FF;
    color: white;
}


/*MAIN*/

.jumbotron {
    background-color: #B4D0E7;
    min-height: 735px;
}

h1 {
    font-size: 70px;
    font-weight: 900;

    padding-top: 105px;
}

.box-bottom {
    margin-top: 77px;
}
.b-left-box {
    width: 360px;
    flex-direction: column;
}

.b-left-box > p {
    line-height: 20px;
}

.b-right-box {
    width: 790px;
}

.jumbo.btn {
    margin: 42px 0;
}

/*.fa-arrow-down {
    margin-top: auto;

} si gestisce automaticamente, spinge la freccia in giù assegnandogli tutto lo spazio rimanente prima della fine*/


/*Section 1*/

/*layout*/

.row > h2 {
    padding-top: 100px;
}

.row-radio {
    align-items: flex-start;
    gap: 10px;

    padding-top: 85px;  
}

.flex.row {
    flex-wrap: wrap;
    gap: 50px;

    margin-top: 60px;
}

.col-30, .col-100 {
    border: 1px solid black;
}

.col-30 {
    width: 300px;
    min-height: 950px;
}

.col-100 {
    width: 100%;
    min-height: 260px;
}

.text {
    padding: 35px;
}
/*content*/

.radio {
    border-radius: 20px;;
    width: 20px;
    height: 20px;

}
.button-1 {
    border: 5px solid  #0061FF;
}

.button-2 {
    border: 2px solid  lightgray;
}

.card-header {
    border-bottom: 1px solid black;
    padding:10px 0;
    text-align: center;
}

/*Section 2*/

.ad {
    padding-top: 160px;
}
.col-60 {
    width: 600px;
}
.flex.col-40 {
    width: 400px;
    padding-left: 50px;

    flex-direction: column;
    justify-content: center;
}


/*FOOTER*/