@import url(//db.onlinewebfonts.com/c/5a5c2865c8fa7a166d94d0880ca9eebc?family=Sharp+Grotesk+Medium+25);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, 'sharp-grotesk';

}

img {
    width: 100%;
}

.lg-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.m-container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.sm-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display:flex;
}

/*HEADER*/

header {
    position: fixed;
    width:100%;
    z-index: 10;

    background-color: white;
}

.flex.navbar {
    justify-content: space-between;
    align-items: baseline;
    padding: 30px 20px 30px 0;
}

.logo {
    width: 125px;
}

.list {
    list-style: none;
}

.list-items {
    display: inline;
    margin-left: 40px;
}

.link {
    text-decoration: none;
    color:black
}

.link.login {
    margin-right: 20px;
} 

.btn.bg-blue {
    background-color: #0061FF;
    color: white;
    border: none;
    padding: 12px 14px;
}


/*MAIN*/

.jumbotron {
    background-color: #B4D0E7;
    min-height: 735px;
}

h1 {
    font-size: 70px;
    font-weight: 900;

    padding-top: 105px;
}

.box-bottom {
    margin-top: 77px;
}
.b-left-box {
    width: 360px;
}

.b-left-box > p {
    line-height: 20px;
}

.b-right-box {
    width: 790px;
}

.jumbo.btn {
    margin: 42px 0;
}




/*FOOTER*/